@use "sass:math";
@mixin grid-cols {
  $i: 1;
  $base: auto;
  @while $i <= $grid-col-count {
    .small-#{$i} {
      flex: $base;
      @include small-breakpoint {
        flex: 1 0 percentage($i / $grid-col-count);
      }
    }
    .medium-#{$i} {
      flex: $base;
      @include medium-breakpoint {
        flex: 1 0 percentage($i / $grid-col-count);
      }
    }
    .large-#{$i} {
      flex: $base;
      @include large-breakpoint {
        flex: 1 0 percentage($i / $grid-col-count);
      }
    }
    $i: $i + 1;
  }
}
.container {
  max-width: $container-width;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1em;
}
.row {
  display: flex;
  flex-flow: row wrap;
  padding: 0 $gutter-size;
  .cell {
    flex: 1 0 auto;
  }
  &.no-gutter {
    padding: 0;
  }
}
@include grid-cols();
.side-gutter {
  padding-left: $gutter-size;
  padding-right: $gutter-size;
}
.vertical-gutter {
  padding-top: $gutter-size;
  padding-bottom: $gutter-size;
}
.side-margin {
  margin-left: $gutter-size;
  margin-right: $gutter-size;
}
.vertical-margin {
  margin-top: $gutter-size;
  margin-bottom: $gutter-size;
}
