.index-layout {
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  display: flex;
  flex-flow: column;

  .main-content {
    padding-bottom: $gutter-size * 2;
    padding-top: $gutter-size * 2;
    flex: 1;
    margin-top: $responsive-navbar-height;
  }

  &.theme-light {
    background-color: $background-light;
    color: $black;

    a {
      color: #1d3842 !important;
    }
  }

  &.theme-dark {
    background-color: $background-dark;
    color: $white;
  }

  @include large-breakpoint {
    .main-content {
      margin-top: 0;
      margin-left: $menu-width;
    }

    .footer {
      margin-left: $menu-width;
      padding-left: $menu-gutter;
    }
  }
}

.front-page {
  .scroll-down {
    position: absolute;
    height: $gutter-size * 2.5;
    bottom: $gutter-size * 2;

    svg {
      path {
        stroke: black !important;
      }

      @keyframes scroll {
        0% {
          transform: translateY(0);
        }
        30% {
          transform: translateY(60px);
        }
      }

      #wheel {
        animation: scroll ease 2s infinite;
      }
    }
  }
}

.home-picture {
  max-width: 200px;
  margin: auto;

  img {
    display: block;
    border-radius: 1em;
  }

  h5 {
    text-align: center;
  }

  @include medium-breakpoint {
    margin: 0;
    text-align: left;

    img {
      margin: 0 0 $gutter-size;
    }
  }
}

.learn-list {
  ul {
    li {
      font-weight: bold;
      font-size: 1em;
    }
  }
}

.footer {
  display: flex;
  justify-content: center;
  padding: $gutter-size;
  background-color: $dark-grey;
  color: $white;

  .row {
    width: 100%;
    align-items: center;
  }

  .user-links {
    a {
      display: inline-block;
    }

    img {
      width: auto;
      height: auto;
      max-height: 30px;
      max-width: 30px;
      margin-bottom: 0;
    }

    .icon {
      margin-left: $gutter-size;
    }
  }

  .footer-links {
    display: flex;
    justify-content: flex-end;
  }

  @include large-breakpoint {
    .row {
      padding-left: 0;
    }
  }
}

.section-title {
  a {
    @extend .button;

    font-size: 12px;
    margin-left: 1em;
    margin-bottom: 0;
    padding: 9px;
    font-weight: normal;
    border: transparent;
  }
}

.post-list {
  margin-left: (0 - $gutter-size);

  .post-item {
    display: flex;
    align-items: center;

    .thumbnail {
      margin-right: 1em;

      height: 50px !important;
      width: 50px !important;
    }
  }

  a {
    display: flex;
    margin: 1em 0;
    padding: 1em;
    transition: background 0.4s;

    h3 {
      margin-bottom: $gutter-size;
    }
  }
}

.project-list {
  .project {
    display: flex;
    flex-flow: column;
    border-bottom: solid 1px $grey;
    padding: 0.75em 0;
    margin: 1em 0;

    h2 {
      display: inline-block;
    }
  }

  .buttons {
    flex: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    .button {
      display: inline-block;
      font-size: 12px;
      padding: 7px 10px;
      margin: 0 5px 3px 5px;
    }
  }
}
