.index-layout {
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  display: flex;
  flex-flow: column;

  .main-content {
    margin-top: $responsive-navbar-height;
    flex: 1;
  }

  &.theme-dark {
    background-color: $background-dark;
    color: $white;
  }

  @include large-breakpoint {
    .main-content {
      margin: $responsive-navbar-height auto 0;
      width: 100%;
      // max-width: $container-width;
    }
  }
}

.front-page {
  .scroll-down {
    position: absolute;
    height: $gutter-size * 2.5;
    bottom: $gutter-size * 2;

    svg {
      path {
        stroke: black !important;
      }

      @keyframes scroll {
        0% {
          transform: translateY(0);
        }
        30% {
          transform: translateY(60px);
        }
      }

      #wheel {
        animation: scroll ease 2s infinite;
      }
    }
  }

  @include medium-breakpoint {
    section {
      margin-bottom: $gutter-size * 8;
    }
  }
}

.blurb {
  margin: 0 (-$gutter-size) 40px;
  color: $black;

  .blurb-inner {
    background-color: $primary-color;
  }

  .row {
    max-width: $container-width;
    margin: auto;

    h2,
    h5 {
      font-weight: normal;
    }

    .blurb-text {
      .button-list {
        .button {
          background-color: $secondary-color;
          color: $white;

          &:hover {
            background-color: darken($color: $secondary-color, $amount: 10);
          }
        }
      }

      padding: $gutter-size;
    }

    .blurb-picture {
      max-width: 200px;
      margin: auto;

      img {
        display: block;
        border-radius: 1em;
      }

      h5 {
        text-align: center;
        font-size: 16px;
      }
    }
  }

  @include medium-breakpoint {
    & {
      position: relative;
    }

    &::after {
      content: "";
      display: block;
      background-color: $primary-color;
      height: 80px;
      margin-top: -1px;

      clip-path: polygon(0% 0%, 100% 0%, 0% 100%, 0% calc(100% - 6vw));
    }

    .blurb-picture {
      img {
        margin: 0 0 $gutter-size;
      }
    }
  }
}

.learn-list {
  ul {
    li {
      font-weight: bold;
      font-size: 1em;
    }
  }
}

.footer {
  display: flex;
  justify-content: center;
  padding: $gutter-size;
  background-color: $dark-grey;
  color: $white;

  .row {
    width: 100%;
    align-items: center;
  }

  .user-links {
    a {
      display: inline-block;
    }

    img {
      width: auto;
      height: auto;
      max-height: 30px;
      max-width: 30px;
      margin-bottom: 0;
    }

    .icon {
      margin-left: $gutter-size;
    }
  }

  .footer-links {
    display: flex;
    justify-content: flex-end;
  }

  @include large-breakpoint {
    .row {
      padding-left: 0;
    }
  }
}

.section-title {
  a {
    @extend .button;

    font-size: 18px;
    margin-left: 1em;
    margin-bottom: 0;
    padding: 9px;
    font-weight: normal;
    border: transparent;
  }
}

.post-list {
  .post-item {
    display: flex;
    align-items: center;

    .thumbnail {
      margin-right: 1em;

      height: 50px !important;
      width: 50px !important;
    }
  }

  .post-link {
    display: flex;
    margin: 1em 0;
    padding: $gutter-size 0;
    width: 100%;
    border-radius: 5px;

    &:hover {
      .post-text {
        & {
          text-decoration: underline;
        }
      }
    }

    h3 {
      margin-bottom: $gutter-size;
    }
  }
}

.button-list {
  flex: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  .button {
    display: inline-block;
    padding: 7px 10px;
    margin-right: 10px;
  }
}

.project-list {
  .project {
    display: flex;
    flex-flow: column;
    border-bottom: solid 1px $grey;
    padding: 0.75em 0;
    margin: 1em 0;

    h2 {
      display: inline-block;
    }
  }
}
