.main-navigation {
  justify-content: space-between;
  position: fixed;
  z-index: 99999;
  width: 100%;
  height: $responsive-navbar-height;
  background: $primary-color;

  .menu-button {
    display: inline-block;
    outline: none;
    width: 36px;
    height: 36px;
    margin: $gutter-size;
    padding: 0 4px;

    &::after,
    .menu-icon::before,
    .menu-icon::after {
      display: block;
      content: "";
      height: 3px;
      width: 100%;
      background-color: white;
      margin: 6px 0;
      transition: 0.4s;
    }
  }

  .navbar {
    display: none;
    flex-flow: column;
    width: 100%;
    height: auto;
    padding: $gutter-size 0;
    background-color: $primary-color;

    a {
      padding: $gutter-size;
      display: block;
      transition: background 0.4s;
      color: $black;
      position: relative;

      &::after {
        content: "";
        border-bottom: solid 2px $black;
        width: 0;
        display: block;
        margin: 0;
      }

      &.active,
      &:hover {
        &::after {
          transition: width 0.4s;
          width: 100%;
          bottom: -5px;
          position: relative;
        }
      }
    }

    .menu-links {
      display: flex;
      flex-flow: column;

      a {
        margin: 0;
      }
    }

    .theme-toggle {
      display: flex;
      margin: 0;
      align-self: center;

      button {
        display: block;
        align-items: center;
        margin: auto;
        outline: none;
      }
    }
  }

  &.show-menu {
    .navbar {
      display: flex;
    }

    .menu-button::after {
      transform: translateY(-9px) rotate(-135deg);
    }

    .menu-icon::before {
      transform: translateY(9px) rotate(135deg);
    }

    .menu-icon::after {
      opacity: 0;
    }
  }

  // Desktop screens
  @include large-breakpoint {
    display: flex;
    flex-flow: column;
    background: $primary-color;

    .navbar {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      height: 100%;

      .menu-right {
        display: flex;
      }

      .menu-links {
        flex-direction: row;
        margin: 0;
      }
    }

    .menu-button {
      display: none;
    }
  }
}
