.index-layout {
  &.theme-light {
    background-color: $background-light;
    color: $black;

    a {
      color: $secondary-color;
    }

    .anchor.before {
      border-bottom-width: 0;
    }

    .button {
      color: $black;
      border-bottom-width: 1px;
    }

    .post-link,
    .menu-link {
      border-bottom: none;
    }

    .footer a {
      color: $primary-color;
      border-bottom: none;
    }
  }
}
