html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

ul {
  margin-left: 0;
}

li {
  list-style-type: none;
}

a {
  &:hover:not(.button):not(.menu-link):not(.project-link):not(.user-link):not(.post-link) {
    color: $primary-color-dark;
    border-bottom: $primary-color-dark solid 2px;

    &.no-underline {
      border-bottom: none;
    }
  }
}

.container {
  max-width: $container-width;
  margin: 0 auto;
  padding: 0 $gutter-size;
}
